.chartArea{
  display: flex;
  background-color: rgb(245, 243, 240);

  .title{
    width: 400px;
    margin-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
  }



  h3{
    font-size: 25px;
  }

  h5{
    font-size: 18px;
  }



  .canvasCss {
    width: 280px;
    height: 280px;
    margin: 3%;
}

  .typeTCss {
    padding: 5px;
    background-color: #88c2f1;
  }
}
